@layer global {
  html {
    font-size: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
  }

  body {
    font-family: var(--main-font);
  }

  * {
    transition: var(--default-transition);
  }

  a {
    text-decoration: none;
    color: unset;
  }

  button {
    border: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--ease-out-transition);
    font-size: 1rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -10%;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: var(--btn-hover-color);
      z-index: -1;
      transform: skew(45deg);
      width: 0;
      transition: var(--ease-out-transition);
    }
    &:is(.bg--transparent) {
      &::before {
        --btn-hover-color: #FFFFFF20;
      }
    }
    &:hover {
      color: white;

      &::before {
        width: 120%;
      }
    }
  }
}