@layer global {
  html {
    font-size: clamp(1rem, 0.4rem + 0.8svw, 1.2rem);
  }

  body {
    font-family: var(--main-font);
  }

  a {
    text-decoration: none;
    color: unset;
  }

  button {
    border: 0;
  }
}