@use "fonts";
@layer theme {
  html {
    --default-padding: 16px;
    --main-font: "DM Sans", sans-serif;
    --primary-light-color: #F1FCFA;
    --btn-radius: 8px;
    --default-radius: 4px;
    --primary-color: #5BBB7B;
    --light-grey: #F0EFEC;
    --default-transition: .3s linear all;
    --ease-out-transition: .2s ease-out all;
    --logo-width: 133px;
    --btn-hover-color: var(--primary-color);
    --rounded-btn-inline-padding: 30px;
    --rounded-btn-block-padding: 8px;
    --font-black-color: #222222;
    --grey-border-color: #E9E9E9;
    --grey-font-color: #6B7177;

    @media (min-width: 769px) {
      --btn-radius: 48px;
      --default-padding: 20px;
    }
  }
}