@layer utilities {
  .spacer {
    flex: 1;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-regular {
    font-weight: 400;
  }
  .font-bold {
    font-weight: 800;
  }
  .rounded {
    border-radius: var(--btn-radius);
  }
  .btn--rounded {
    border-radius: var(--btn-radius);
    padding: var(--rounded-btn-block-padding) var(--rounded-btn-inline-padding);
  }

  .btn, .block {
    padding-block: 1em;
    padding-inline: 2em;
  }

  .no-scroll {
    overflow: hidden;
  }
  .logo {
    width: var(--logo-width);
  }
  .bg--translucent {
    background-color: #FFFFFF20;
  }
  .bg--transparent {
    background-color: transparent;
  }
  .bg--primary {
    background-color: var(--primary-color);
  }
  button.bg--primary {
    color: white;
  }
  .color--white {
    color: white;
  }
  .container {
    max-width: 1900px;
    margin: auto;
  }
  .margin-auto {
    margin: auto;
  }

  .sub-text {
    font-size: .9375rem;
  }

  .card {
    border: 1px solid var(--grey-border-color);
    padding: 1.8em;
    border-radius: var(--default-radius);
  }
}