@layer utilities {
  .spacer {
    flex: 1;
  }
  .font-medium {
    font-weight: 500;
  }
  .rounded {
    border-radius: var(--btn-radius);

    &:is(button) {
      padding: var(--rounded-btn-block-padding) var(--rounded-btn-inline-padding);
    }
  }
  .no-scroll {
    overflow: hidden;
  }
  .logo {
    width: var(--logo-width);
  }
}