@layer utilities {
  .spacer {
    flex: 1;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-regular {
    font-weight: 400;
  }
  .rounded {
    border-radius: var(--btn-radius);
  }
  .btn--rounded {
    border-radius: var(--btn-radius);
    padding: var(--rounded-btn-block-padding) var(--rounded-btn-inline-padding);
  }

  .no-scroll {
    overflow: hidden;
  }
  .logo {
    width: var(--logo-width);
  }
  .bg--translucent {
    background-color: #FFFFFF20;
  }
  .bg--transparent {
    background-color: transparent;
  }
  .color--white {
    color: white;
  }
  .container {
    max-width: 1900px;
  }
  .margin-auto {
    margin: auto;
  }
}